<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <p>Hello Angular {{title}}</p>
  <p>{{2+2}}</p>
  <p>{{title=="16"}}</p>
  <app-user-list></app-user-list>
  <app-login-list></app-login-list>
  <app-signup-list></app-signup-list>
   <app-login></app-login>
  <button (click)="getfunction('Junaid Ali',13)"> Click Me</button> -->
  <!-- <app-events></app-events> -->
  <!-- <app-getinput></app-getinput> -->
  <!-- <app-counter></app-counter> -->
  <!-- <app-propertybinding></app-propertybinding> -->
  <!-- <app-if-else></app-if-else> -->
  <!-- <app-else-if-condition></app-else-if-condition> -->
  <!-- <app-switch-case></app-switch-case> -->
  <!-- <app-loops-angular></app-loops-angular> -->
  <!-- <app-nested-loop></app-nested-loop> -->
  <!-- <app-style-binding></app-style-binding> -->
  <!-- <app-header></app-header> -->
  <!-- <app-basic-angular-form></app-basic-angular-form> -->
  <!-- <app-toggole-element></app-toggole-element> -->
  <!-- <app-todo-list></app-todo-list> -->
  <!-- <h1>{{data}}</h1> -->
  <!-- <app-child-component [item]="data"></app-child-component>
  <button (click)="update_child()">Update Data</button> -->
  <!-- <app-child-parent-data (UpdateChildDataEvent)="Update_Data($event)"></app-child-parent-data> -->
  <app-two-way-binding></app-two-way-binding>
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-template-driven-forms></app-template-driven-forms> -->
  <!-- <app-reactive-form></app-reactive-form> -->
</body>
</html>